In [1]:

import pandas as pd

d1 = pd.read_csv("andhra_details.csv")
d2 = pd.read_csv("Kerala_details.csv")
d3 = pd.read_csv("telangana_route_details.csv")
d4 = pd.read_csv("kadamba_details.csv")
d5 = pd.read_csv("rsrtc_details.csv")
d6 = pd.read_csv("south_bengal_details.csv")
d7 = pd.read_csv("hrtc_details.csv")
d8 = pd.read_csv("assam_details.csv")
d9 = pd.read_csv("upsrtc_details.csv")
d10 = pd.read_csv("west_bengal_details.csv")
d11 = pd.read_csv("chandigarh_details.csv")
d12 = pd.read_csv("punjab_details.csv")


# List of CSV file paths
csv_files = ["andhra_details.csv", "Kerala_details.csv", "telangana_route_details.csv", "kadamba_details.csv", 
             "rsrtc_details.csv", "south_bengal_details.csv","hrtc_details.csv", "assam_details.csv", "upsrtc_details.csv", 
             "west_bengal_details.csv", "chandigarh_details.csv", "punjab_details.csv"]   

# Read each CSV file into a DataFrame and store them in a list
df_list = [pd.read_csv(file) for file in csv_files]

# Concatenate all DataFrames in the list into a single DataFrame
combined_df = pd.concat(df_list, ignore_index=True)

# Add an ID column to the DataFrame (1-based indexing)
combined_df.insert(0, 'Id', range(1, len(combined_df) + 1))

# Save the combined DataFrame to a new CSV file
combined_df.to_csv("bus_routes_details.csv", index=False)

# Replace the 'INR ' prefix in the 'Price' column
if 'Price' in combined_df.columns:
    combined_df['Price'] = combined_df['Price'].str.replace('INR ', '', regex=False)


# Save the cleaned DataFrame to a new CSV file
combined_df.to_csv("bus_routes.csv", index=False)
print("file saved")

file saved

In [2]:
read = pd.read_csv("bus_routes.csv")
read

,Id,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3376,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",16:45,06h 30m,23:15,4.8,436.0,29 Seats available
1,2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2561,INDRA(A.C. Seater),17:15,05h 30m,22:45,2.6,528.0,29 Seats available
2,3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3358,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",17:20,07h 50m,01:10,3.9,436.0,30 Seats available
3,4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 2674,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",17:30,07h 50m,01:20,2.5,436.0,24 Seats available
4,5,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3366,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",17:55,07h 50m,01:45,2.4,436.0,28 Seats available
...,...,...,...,...,...,...,...,...,...,...,...
8463,8464,Amritsar to Delhi Airport,https://www.redbus.in/bus-tickets/amritsar-to-...,Banjara Satguru Travels,A/C Seater / Sleeper (2+1),22:00,08h 25m,06:25,2.7,799.0,12 Seats available
8464,8465,Amritsar to Delhi Airport,https://www.redbus.in/bus-tickets/amritsar-to-...,Indo Canadian Transport Company,Mercedes A/C Semi Sleeper (2+2),20:00,11h 00m,07:00,4.6,3300.0,32 Seats available
8465,8466,Delhi Airport to Kapurthala,https://www.redbus.in/bus-tickets/delhi-airpor...,PEPSU (Punjab) - 67064,Volvo AC Seater (2+2),23:58,10h 00m,09:58,3.7,1226.0,38 Seats available
8466,8467,Amritsar to Patiala,https://www.redbus.in/bus-tickets/amritsar-to-...,PEPSU (Punjab) - 66674,HVAC Seater (2+3),18:10,04h 50m,23:00,3.7,469.0,54 Seats available
8467,8468,Amritsar to Patiala,https://www.redbus.in/bus-tickets/amritsar-to-...,GK Travels,A/C Seater/Sleeper (2+1),21:00,04h 30m,01:30,3.7,799.0,32 Seats available

In [6]:
import pymysql

myconnection = pymysql.connect(host = '127.0.0.1',user='root',passwd='Ragini95@')

cursor =myconnection.cursor()

cursor.execute("create database redbus")

print("Database created successfully")

Database created successfully

In [12]:
#python mysql connection

myconnection = pymysql.connect(host='127.0.0.1', user='root',passwd='Ragini95@',database="redbus")
read = pd.read_csv("bus_routes.csv")
read = read.dropna() #drop null values
a = ",".join(f"{i} {j}"
for i,j in zip(read.columns,read.dtypes)).replace("float64","float").replace("object","text").replace("int64","int") #replace dtypes from pandas to mysql
table_name = "bus_routes"
myconnection.cursor().execute(f"create table {table_name} ({a})")
for i in range(len(read)):
    myconnection.cursor().execute(f"insert into {table_name} values {tuple(read.iloc[i])}")
    myconnection.commit()

print("data inserted successfully")

data inserted successfully